body{ 
    padding: 0;
    margin:0;  
    
}  



.parallax {
    /* imagem usada */
    background: url("../img/fundo.png") 10% fixed;
  
    /* configure uma altura especifica */
    height: 100%;
    
   
    /* cria o efeito de scroll do parallax */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

/* Se a largura for menor que 720 pixels faça:*/
@media screen and (max-width:720px){

    .cabeçalho img{
        width: 100%;   
    }

    .tags img{
        border-radius: 20px; 
    }

    .cabeçalho{
        padding: 15px;
    }

    .div-cards .car{
        width: 100%;
        background-color: rgb(255,255,255,0.0);
        border-color: rgb(255,255,255,0.0);    
    }

    .div-cards img{
        width: 21rem;
        padding-left: 27px;
    }
}


/*MAPA*/
.texto-mapa{
    margin-top: 20px;
    background-color: rgb(255,255,255,0.1);
    border-color: rgb(255,255,255,0.1);
    text-align: center;
    color:white;
    
}


.texto-powered{
    background-color: rgb(255,255,255,0.0);
    border-color: rgb(255,255,255,0.0);
    text-align: center;
    color:white;
    position: relative;
    font-size: 13px;
}


.mapa{

    overflow:hidden;

    padding-bottom:26.25%;
    
    position:relative;
}


.mapa iframe{
    
    height:100%;

    width: 100%;

    margin-bottom: 0;

    position:absolute;
   

}

#rodape{
    background-color: #55caf5;
}


/*Clinica veterinária Agro Costa, o melhor para seu pet*/
/*Horario de funcionamento*/
/*whatsapp*/