body{ 
    padding: 0;
    margin:0;  
    
}  



.parallax {
    /* imagem usada */
    background-image: url("../img/fundo.png");
  

    
   
    /* cria o efeito de scroll do parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


header{
    overflow: hidden;
}  

main{
    overflow: hidden;
}

header .banner{
    text-align: center;
    
}

header .tags{
    text-align: center;
   
}

.tags img{
    border-radius: 25px;
}

main .div-cards{
    text-align: center;

}

section div{
    padding: 5%;
}




/*MAPA*/
.texto-mapa{
    margin-top: 20px;
    background-color: rgb(255,255,255,0.1);
    border-color: rgb(255,255,255,0.1);
    text-align: center;
    color:white;
    
}


.texto-powered{
    background-color: rgb(255,255,255,0.0);
    border-color: rgb(255,255,255,0.0);
    text-align: center;
    color:white;
    position: relative;
    font-size: 13px;
}


.mapa{

    overflow:hidden;

    padding-bottom:26.25%;
    
    position:relative;
}


.mapa iframe{
    
    height:100%;

    width: 100%;

    margin-bottom: 0;

    position:absolute;
   

}

#rodape{
    background-color: #55caf5;
}


/* Se a largura for menor que 1200 pixels faça:*/


/* Se a largura for menor que 720 pixels faça:*/
@media screen and (max-width:720px){
    .cabeçalho{
        padding: 10px;
    }

    .cabeçalho img{
        width: 100%;   
    }

    .tags img{
        border-radius: 20px; 
    }

    

    .div-cards .card{
        width: 100%;
        background-color: rgb(255,255,255,0.0);
        border-color: rgb(255,255,255,0.0);    
    }

    section img{
        width: 100%;
               
    }

}